<% if @new_collaborator %>
  <h3>
    <%= @new_collaborator.collaborator_name %> has been added to "collaborators"
  </h3>
<% end %>

<% if @deleted_collaborator %>
  <h3>
    <%= @deleted_collaborator.collaborator_name %> has been deleted
  </h3>
<% end %>

<% if @deleted_assignment %>
  <h3>
    <%= @deleted_assignment.assignment_name %> has been deleted
  </h3>
<% end %>

<% if @modified_assignment %>
  <h3>
    <%= @modified_assignment.assignment_name %> has been modified
  </h3>
<% end %>  

<h1>
  Larz's Schoolwork API
</h1>

<div id="main">
  <ul id="assignments">
  </div>
</div>

<a href="#" id="see_all_assignments">See All Assignments</a>
<a href="#" id="see_all_collaborators">See All Collaborators</a>