<h3>
  <% if @new_collaborator %>
    <%= @new_collaborator.collaborator_name %> has been added to "collaborators"
  <% end %>
  
  <% if @deleted_collaborator %>
    <%= @deleted_collaborator.collaborator_name %> has been deleted
  <% end %>
  
  <% if @deleted_assignment %>
    <%= @deleted_assignment.assignment_name %> has been deleted
  <% end %>
  
  <% if @modified_assignment %>
    <%= @modified_assignment.assignment_name %> has been modified
  <% end %>  
  
</h3>

<h1>
  Larz's Schoolwork API
</h1>

<div id="main">
  <div id="assignments">
  </div>
</div>

<a href="#" id="see_all_assignments">See All Assignments</a>