<h2>
  Log In
</h2>

<form id="login_form">
  <p>
    Email - <input type="text" name="user[email]">
  </p>
  <p>
    Password - <input type="text" name="user[password]">
  </p>
  <input type="button" id="submitter" value="Login">
</form>

<p id="confirm">
</p>

<script src="/login.js" type="text/javascript">
</script>