<h3>
  Click a collaborator to see all projects you've worked with them on
</h3>
<div id="collaborators">
  <ul id="collaborator_list">
    <lh>
      Choose a collaborator
    </lh>
  </ul>
</div>

<div id="collaborations">
  <h4 id="your_collaborator">
  </h4>
  <ul id="collaborations_list"> 
  </ul>
</div>


<script src="/see_collaborations.js" type="text/javascript">
</script>